
.menu-bar {
    cursor: pointer;
    z-index: 2;
}



.sidebar {
    width: 0;
    height: 100%;
    background-color: #00986f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.5s;
}
